server {
    listen 80;
    server_name waissman.store www.waissman.store;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name waissman.store www.waissman.store;

    ssl_certificate /etc/letsencrypt/live/waissman.store/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/waissman.store/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root /var/www/waissman-game/frontend;
    index index.html;

    location /api/ {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /logo/ {
        alias /var/www/waissman-game/logo/;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}